/* ===========================
   layout.css – structure
   =========================== */

/* Navigation    */
.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 5rem;
}

.nav-top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: var(--color-bg-light);
}

.nav-links {
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  margin: 2rem;
}

.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7rem;
}

/* Hero  */
.hero-image {
  margin-top: 3rem;
}

/* Experience & education */
.experience-item {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 2rem;
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  border-bottom: 3px solid #ebeaed;
}

.experience-info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.experience-company,
.experience-location {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.experience-meta {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 0.5rem;
}
.section-education {
  padding-top: 0rem;
}

/* Tech Stack & Tools */
.tech-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
  align-items: center;
  justify-items: center;
}

.tech-stack-description {
  margin-bottom: 2rem;
}

.tools-title {
  margin-top: 4rem;
  margin-bottom: 2rem;
}

/* Projects – Layout */

.section-projects {
  padding-top: 5rem;
}

.projects-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

#projects-title {
  margin-bottom: 2.5rem;
}

.project-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.project-link-group {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

/* Contact */
.section-contact {
  text-align: center;
  margin-top: 3rem;
}

/* Desktop */
@media (min-width: 768px) {
  /* Navigation */

  body {
    margin-left: 6rem;
    margin-right: 6rem;
  }
  .site-header {
    position: fixed;
    top: 0;
    left: 6rem;
    right: 7rem;
    /* width: 100%; */
    z-index: 1000;

    display: flex;
    align-items: center;

    padding-bottom: 1rem;
    padding-top: 3rem;
    background-color: var(--color-bg-light);
  }

  .main-nav {
    flex: 1;
    flex-wrap: nowrap;
    padding-top: 0;
    align-items: center;
  }

  .nav-top {
    position: static;
    width: auto;
    padding: 0;
    display: flex;
    align-items: center;
  }

  .nav-links {
    flex-basis: auto;
    flex-direction: row;
    align-items: center;
    margin: 0 0 0 auto;
    gap: 2rem;
  }

  .nav-toggle {
    display: none;
  }

  .social-links {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-left: 2rem;
  }

  /* Hero */
  .hero {
    margin-top: 5rem;
    margin-bottom: 2rems;
  }
  .hero-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .hero-image {
    margin-top: 0;
  }

  /* Sections */
  .section-about,
  .section-experience,
  .section-education {
    max-width: 44rem;
  }

  /* Technologies */
  .tech-grid {
    grid-template-columns: repeat(6, 1fr);
  }

  /* Projects */
  .projects-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
